.App {
  padding: 4rem;
  margin: auto;
}

.flex-box {
  display: flex;
}

.btn {
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 17px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
}

.border-square {
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid gray;
}

.no-border {
  border: none;
  outline: none;
}

.wr-40 {
  width: 40rem;
}

.wr-20 {
  width: 20rem;
}

.wr-30 {
  width: 30rem;
}
